

.outputDiv {
    border: 1px solid #60A5FA;
    min-height: 4rem;
    border-radius: 1rem;
    background-color: white;
    
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;

}

.inputSection{
    padding: 0.7rem;
}
.box{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
li{
    list-style: none;
    padding: 1rem;
}
ul{
    padding-right: 2rem;
}

.container{
    background-color: #E0E7FF;
    max-width: 600px;
    margin: auto;
    border-radius: 1rem;
    padding : 1rem;
    border: 1px solid #60A5FA;
}

.btn{
    background-color: #A5B4FC;
    color: #1F2937;
    border-radius: 0.6rem;
    border: 1px solid #1F2937;
    cursor: pointer;
    padding: 4px;
    width: 6rem;
    margin: 0.2rem;
}

.inputBox{
    border-radius: 1rem;
    border: 1px solid #60A5FA;
    padding: 0.3rem;
    width: 15rem;
    margin: 0.2rem;

}
